/* style.css */

.item1 {
    background: #eeeeee;
  }

  .navbar-inner {
    color: black;
  }

.scrolling {
  color: #642222;
  position: relative;
  -webkit-animation-name: scrollDown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: scrollDown;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-iteration-count: 2;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollDown {
  0%   {color:#805050; left:0px; top:0px;}
  25%  {color:#c29898; left:0px; top:100px;}
  50%  {color:#e1e1eb; left:0px; top:200px;}
  75%  {color:#965853; left:0px; top:100px;}
  100% {color:#701f1f; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes scrollDown {
  0%   {color:#805050; left:0px; top:0px;}
  25%  {color:#c29898; left:0px; top:100px;}
  50%  {color:#e1e1eb; left:0px; top:200px;}
  75%  {color:#965853; left:0px; top:100px;}
  100% {color:#701f1f; left:0px; top:0px;}
}

  /* .item2 {
    background: #eeeeee;
  } */

.resumeButton {
  color: #ffffffff !important;
  text-decoration: none;
}

button {
  background-color: #520000;
         border: none;
         
         padding: 20px 34px;
         text-align: center;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
}

  .mLogo {
    height: 100px;
    width: 250px;
  }

  .contactBg {
    background-color: #222222;
  }

  .item3 {
    background: #eeeeee;
  }

  /* .img_source {
    position: absolute;
  } */

  .img_container {
    position: relative;
  }

  .img_overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #17191a;
  }

  .img_container:hover .img_overlay {
    opacity: .9;
  }

  .item4 {
    background: #222222;
  }

  /* resizing of github linkedin logo */
.contactSize {
  height: 50px;
  width: 50px;
}

.linksColor {
  text-decoration: none;
  color: white;
}

.linksColor:hover {
  color: white;
}